<h1>User Guide</h1>
<p>version 1.0</p>

<h2>Introduction</h2>
<p>Create light shows that pulse to music using Light Musician. Vary the settings to get fast, quick disco beats, or slower smooth transitions.</p>
<p>To use this app, you need a set of Luxium Bluetooth-enabled lights or a Luxium TRX-1. The device needs Bluetooth turned on, and the app will ask for microphone usage. On startup, the app will connect to any available Luxium TRX-1 and Luxium lights. If using lights, the app is capable of working with any number, but given the limitations of hardware and the Bluetooth specification, 7 is the maximum recommended. For more information on setting up lights, see the Setup tab.</p>
<p></p>

