<h2>Hardware Control Settings</h2>
<p>Once you have your hardware set up, you can then modify the speed/sensitivity of the beat detector, and set the color pattern for you hardware to use. If you have multiple Light Groups set up, make sure you choose the group you want to set the controls on first.</p>
<h3>Color Settings</h3>
<p>The Light Control section allows you to set the color scheme by clicking on that row. Here you can set the number or colors to use, up to a maximum of 10.</p>
<p>To set a color, choose a swatch box from the color row, and then choose a color from the top gradient.</p>
<p>You can save your current color set by clicking the Save Current Color Set button. If you touch a saved set, it will be used as the current set. You can delete saved sets by swiping left. Note: If after saving a set, you change the number or colors to use, all the saved sets will adjust to that number. Increasing the number of colors will add built-in colors to each saved set, maybe leading to colors that don't fit the original scheme.</p>
<p>The Pattern setting allows you to choose specific light color patterns. If you want all the lights to show the same color, choose the Solid setting. The Rotating settings will assign the lights initial colors based on the scheme order, and then rotate each light through the scheme from it's starting color. Two-color will set initial colors alternating between the first two colors of the scheme, and then change the light colors based on the scheme chosen.</p>
<h3>Beat Settings</h3>
<p>Light Musician tracks beats in music. Since music types vary, being able to change various tracking settings will help you get the effect you want. The settings are described below.</p>
<p>Threshold Percent - Light Musician will possibly find a beat if the current perceived volume of the music has increased by this percent over the average volume.</p>
<p>Suppression - Not all beats are uniform. EDM might have all beats exactly on tempo, while for a live band, (based on skill and instrument mix), the volume increases associated with any one beat might fall in a range of time around the expected beat. This might lead to multiple beats being marked in a short time span. To limit this effect, you can suppress any secondary beats within a set time span after the first marking of a beat. </p>
<p>If you are using Lights directly, you can also set a fade time. This will fade each light to black using the specified time. A value of 0.0 is interpreted as "don't fade".</p>
<p>Note: Light Musician doesn't predict beats. So, it won't fill in missing beats, and depending on distance and signal strength light changes might noticibly lag behind actual beats.</p>

