<h2>Setting Up Your Show</h2>
<p>On starting the app, you should be connected to any TRX-1 hardware or Luxium lights within range. If not, make sure the hardware/lights are on and the mobile device has Bluetooth enabled, then click the Rescan button on the top right.</p>
<p>You can turn active hardware/light control on or off using the "Control Lights" switch.</p>
<p>Clicking the right arrow in the hardware choose row gives you additional setup possibilities.</p>
<p>With the TRX-1 control selected, you can set the number of lights to control. Each light needs to have DMX set up and turned on, and the DMX addresses need to start at 1 and increment by 4.</p>
<p>With the Lights control selected, if you click the arrow to the right, you can edit the light list. By  clicking the Plus you can create group containers for lights. You can also drag lights between groups, re-order the lights within groups, and delete lights from the groups. Creating extra groups will add a Group Choice switch to the main screen which allows you to choose settings for each group independently.</p>
